In [1]:
import pandas as pd
import json
import re

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [3]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info_df = pd.read_csv("backer_info.csv")
backer_info_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [10]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
#attempt 1 
sample = backer_info_df['backer_info'].values[0]
test = re.findall(r'([a-z]{2}\d{3})', sample)
test

backer_info_df['backer_id'] = backer_info_df['backer_info'].str.extract(r'([a-z]{2}\d{3})')
backer_info_df.head(1)

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166

In [25]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
                
## test = re.findall(r'[\s](\d{2,4})',sample)
## test
backer_info_df['cf_id'] = backer_info_df['backer_info'].str.extract(r'([\s]\d{2,4})')
backer_info_df.head(1)

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968

In [28]:
# Extract the name from the backer_info column and add it as a new column called "name".

## test = re.findall(r'(\w+\s\w+)', sample)
## test

backer_info_df['name'] = backer_info_df['backer_info'].str.extract(r'(\w+\s\w+)')
backer_info_df.head(1)

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent

In [30]:
# Extract the email from the backer_info column and add it as a new column called "email".
backer_info_df['email'] = backer_info_df['backer_info'].str.extract(r'(\w+@\w+\.\w+)')
backer_info_df.head(1)

,backer_info,backer_id,cf_id,name,eamil,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com,avincent@live.com

In [31]:
# Create a new DataFrame with the appropriate columns.
backer_info_clean = backer_info_df[['backer_id', 'cf_id', 'name', 'email']]
backer_info_clean.head()

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com

In [32]:
backer_info_clean.sample(10)

     backer_id  cf_id             name                   email
2524     nm120   1114  Nestore Mounier     nmounier@yandex.com
3698     mt451    968      Mauro Thery        mthery@yahoo.com
2224     rh486     65   Raphael Hoover       rhoover@yahoo.com
7911     ah548     65     Ariane Huber       ahuber@yandex.com
2449     nl617     65      Naila Leray        nleray@gmail.com
7559     ab795   1114   Albirto Baasch      abaasch@yandex.com
5861     re553    563     Roger Emilio  remilio@protonmail.com
2578     cb874    968   Caroyln Baxter     cbaxter@outlook.com
2325     bp531   1911     Bell Perkins    bperkins@outlook.com
1106     gf245    968     Grant Flater     gflater@outlook.com

In [33]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_info_clean.to_csv('backer_info_clean.csv', encoding='utf8', index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [34]:
# Check data types.
backer_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [70]:
# Convert cf_id to an integer if necessary.
backer_info_clean = pd.read_csv("backer_info_clean.csv", dtype={'backer_id':'object','cf_id':'int64', 'name':'string', 'email':'object'})
backer_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   string
 3   email      8175 non-null   object
dtypes: int64(1), object(2), string(1)
memory usage: 255.6+ KB

In [75]:
# Split the "name" column into "first_name" and "last_name" columns.
backer_info_clean[['first_name', 'last_name']] = (
    backer_info_clean['name'].str.split(' ', n=1, expand=True)
)

In [77]:
#  Drop the name column


# Reorder the columns
backer_info_clean = backer_info_clean[['backer_id','cf_id','first_name', 'last_name', 'email']]

backer_info_clean.sample(10)

     backer_id  cf_id first_name last_name                     email
4639     oc447   1114   Ortensia   Cannone   ocannone@protonmail.com
4265     dh643   1114  Donatello   Holland         dholland@live.com
563      bb962     65     Bianka  Beaumont        bbeaumont@live.com
3913     nc950     65      Norah     Carre     ncarre@protonmail.com
2960     bf678    563       Bona   Fiedler         bfiedler@live.com
6896     jg855    563      Jessy      Garb         jgarb@outlook.com
6340     ep561    563    Ermanno     Price          eprice@gmail.com
6127     ef976    563      Elisa  Figueroa  efigueroa@protonmail.com
1817     fb494    563      Farah  Bizzarro      fbizzarro@yandex.com
6886     cs948    968    Carmelo   Stevens         cstevens@live.com

In [78]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_info_clean.to_csv('backers.csv', encoding='utf8', index=False)